@font-face {
	font-family: Rubik;
	src: url('../static/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

html {
	margin: 0;
	padding: 0;
}
body {
	font-family: Rubik;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
